@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

$ff-main: "Nunito";

$fs-header_main: 40px;
$fs-body: 16px;
$fs-header_secondary: 28px;

$fw-header: 600;
$fw-body: 300;
$fw-secondary: 400;
