$white: #fff;
$black: #000;

$dark_blue-1: hsl(230, 17%, 14%);
$dark_blue-2: hsl(232, 19%, 15%);
$blue: hsl(228, 28%, 20%);
$light_blue: hsl(228, 34%, 66%);
$purple: #6f1ab6;

// Light Theme
$pale_blue: hsl(225, 100%, 98%);
$light_gray-blue: hsl(227, 47%, 96%);
$dark_gray-blue: hsl(228, 12%, 44%);
$light-purple: #810ca8;
