@use "./base" as base;
@use "./colours" as color;
@use "./mixin" as mixin;

@import "./config";

.container_grid {
  @include mixin.screen(desktop) {
    @include mixin.column(150px, 4fr, 30px, 0);
  }

  @include mixin.screen(laptop) {
    @include mixin.column(150px, 4fr, 15px, 0);
  }

  background-color: color.$dark_blue-1;
}

.grid_nav {
  @include mixin.screen(desktop) {
    grid-column: 1 / 2;
    // background-color: color.$black;
    width: 120px;
    @include mixin.abs-position(fixed, 3rem, 0, 0, 0);
  }
}

.grid_main {
  grid-column: 2 / 3;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-y: auto;

  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 50px;
}

// Navbar
.navbar {
  padding: 4rem 1rem;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  background-color: color.$dark_blue-2;

  @include mixin.flex-column();

  height: 85vh;

  &_brand {
    width: 80px;
    margin-inline: auto;
  }

  &_nav {
    display: flex;
    flex-direction: column;

    padding-top: 2rem;
  }

  &_item {
    text-align: center;
    padding-bottom: 1rem;
  }

  &_link {
    color: color.$purple;

    font-size: 19px;
    font-family: base.$ff-headings;

    transition: all .3s;

    &:hover {
      color: color.$white;

      padding-bottom: 5px;
      border-bottom: 3px solid color.$purple;
    }
  }
}

.container_header {
  @include mixin.screen(desktop) {
    padding: 4rem 0;

    margin-inline: auto;

    @include mixin.column(600px, 400px, 30px, 0);

    align-items: center;

    @include mixin.border-bottom(2px);
  }
}

.header-img {
  width: 400px;
}

.container_projects {
  @include mixin.flex-column();

  padding-bottom: 4rem;

  margin-inline: auto;

  @include mixin.border-bottom(2px);
}

.projects_header {
  text-align: center;
  padding-bottom: 2rem;

  width: 60%;
  margin-inline: auto;
}

.projects_grid {
  @include mixin.screen(desktop) {
    @include mixin.grid-col(4, 250px, 30px, 30px);
  }

  @include mixin.screen(laptop) {
    @include mixin.grid-col(2, 450px, 30px, 30px);
  }
}

.projects_img {
  width: 240px;
}

.projects_cta {
  width: 240px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding: 0 20px;
}

.container_work {
  width: 1000px;
  margin-inline: auto;

  padding: 2rem 0 4rem;

  @include mixin.border-bottom(2px);
}

.work ul {
  padding-left: 2rem;
}

.container_education {
  width: 70%;
  margin-inline: auto;

  padding: 2rem 0 4rem;

  @include mixin.border-bottom(2px);
}

.education_1-grade {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.education_2-grade {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.education_3-grade {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
