@use "./base" as base;
@use "./colours" as color;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: base.$ff-main;
  font-size: base.$fs-body;
  font-weight: base.$fw-body;

  width: 100%;

  background-color: color.$indigo;
}

img {
  width: 70%;
  height: auto;
}

h1 {
  font-size: base.$fs-header_main;
  font-weight: base.$fw-header;
}

h3 {
  font-size: base.$fs-header_secondary;
  font-weight: base.$fw-secondary;

  font-weight: 600;
  padding-bottom: 1rem;
}

h4 {
  font-size: base.$fs-header4;
  font-weight: base.$fw-secondary;

  padding-bottom: 1rem;
}

header {
  text-align: center;
  padding: 3rem 0;

  font-size: 14px;
  color: color.$white;

  & p span {
    font-weight: 600;
  }
}

.about_me {
  width: 100%;
  background-color: color.$grey-light-2;
  padding: 3rem 0;

  &-content {
    padding: 1rem 1.2rem;
    text-align: center;
  }
}

.hobbies {
  margin-top: 5rem;
  padding: 3rem 0;
  background-color: color.$grey-light-2;

  width: 100%;

  &_content {
    padding: 1rem 2rem;
    text-align: center;
  }
}

.projects {
  margin-top: 3rem;
  padding: 2rem 0.7rem;

  text-align: center;
  color: color.$white;

  &_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 20px;
  }
}

.work_experience {
  margin: auto;
  padding: 3rem 0 4rem;
  width: 100%;

  text-align: center;
  background-color: color.$violet;

  &-title h3 {
    color: color.$blue-light;
    padding-bottom: 1rem;
  }

  & h4 span {
    font-weight: 600;
  }

  &-content {
    height: fit-content;

    display: flex;
    flex-direction: column;
  }

  & .card {
    margin: 2rem auto 0.5rem;
    padding: 2rem 0;
    background-color: color.$white;

    border-radius: 15px;
    box-shadow: 5px 7px 5px color.$grey-dark;

    height: fit-content;
    width: 90%;

    &_header {
      border-bottom: 1px solid color.$grey-light-3;
    }

    &_body {
      padding: 1.4rem 15px 0;
    }

    & li {
      padding-top: 15px;
      list-style: none;

      & span {
        font-weight: 600;
      }
    }
  }
}

.qualifications {
  padding-top: 5rem;
  text-align: center;
}

@media screen and (min-width: 446px) {
  img {
    width: 50%;
    height: auto;
  }

  .about_me {
    width: 90%;
    margin-right: auto;

    border-radius: 0 15px 15px 0;
  }

  .hobbies {
    width: 90%;
    margin-left: auto;

    border-radius: 15px 0 0 15px;
  }

  .projects {
    width: 85%;
    margin: 3rem auto;
  }

  .work_experience .card {
    width: 85%;
  }
}

@media screen and (min-width: 690px) {
  .about_me {
    width: 75%;
    margin-right: auto;

    border-radius: 0 15px 15px 0;
  }

  .hobbies {
    width: 75%;
    margin-left: auto;

    border-radius: 15px 0 0 15px;
  }
}
