@use "./base" as base;
@use "./colours" as color;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: base.$ff-main;
  font-size: base.$fs-body;
  font-weight: base.$fw-body;

  width: 100%;

  background-color: color.$grey-light-1;
  color: color.$white;
}

.underline {
  border-bottom: 3px solid #4ee1a0;
}

.heading-l {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;

  font-family: base.$ff-main;
  letter-spacing: 1px;
}

// Header
.container_header {
  --max-width: 1100px;
  --side-padding: 2rem;

  width: min(var(--max-width), 100% - (var(--side-padding) * 2));
  margin-inline: auto;

  padding-top: 2.5rem;

  padding-bottom: 4rem;
  border-bottom: 3px solid #4ee1a0;
}

// Navbar
.navbar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  z-index: 400;

  &_brand {
    font-size: 20px;
    font-weight: 600;

    text-transform: uppercase;
  }

  &_header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }

  &_toggle {
    display: none;
  }

  & ul {
    display: flex;
    flex-direction: row;
  }

  &_item {
    padding: 0 1rem;
    list-style: none;
  }

  &_link {
    text-decoration: none;
    color: color.$amethyst;

    &:hover {
      color: color.$white;
    }
  }
}

// Header Content
.header {
  padding-top: 4rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  column-gap: 50px;

  &_content {
    padding: 1rem;
    align-items: center;

    & p {
      padding-top: 1.5rem;
    }
  }

  &-img {
    width: 400px;
    height: auto;
  }
}

// Hobbies
.container_hobbies {
  --max-width: 1000px;
  --side-padding: 2rem;

  width: min(var(--max-width), 100% - (var(--side-padding) * 2));
  margin-inline: auto;

  padding-top: 4.5rem;
}

// Projects
.container_projects {
  --max-width: 1000px;
  --side-padding: 2rem;

  width: min(var(--max-width), 100% - (var(--side-padding) * 2));
  margin-inline: auto;

  padding-top: 2.5rem;
}

.projects_header {
  text-align: center;
  padding-top: 3rem;
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 30px;
  row-gap: 20px;

  text-align: center;

  & img {
    width: 450px;
  }
}
