@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  color: #6f1ab6;
  font-weight: 700;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.btn {
  color: #6f1ab6;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  transition: all 0.3s;
}
.btn:hover {
  color: #fff;
  padding-bottom: 2px;
  border-bottom: 2px solid #6f1ab6;
}

.heading-l {
  font-size: 52px;
  font-weight: 700;
  padding-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  line-height: 65px;
}

.heading-m {
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.heading-s {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 0.2rem;
  font-family: "Montserrat", sans-serif;
}

.body-m {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

pl-2 {
  padding-left: 2rem;
}

.container_grid {
  background-color: hsl(230deg, 17%, 14%);
}
@media (min-width: 1025px) {
  .container_grid {
    display: grid;
    grid-template-columns: 150px 4fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 0;
  }
}
@media (min-width: 769px) and (max-width: 1024) {
  .container_grid {
    display: grid;
    grid-template-columns: 150px 4fr;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 0;
  }
}

@media (min-width: 1025px) {
  .grid_nav {
    grid-column: 1/2;
    width: 120px;
    position: fixed;
    top: 3rem;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.grid_main {
  grid-column: 2/3;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-y: auto;
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 50px;
}

.navbar {
  padding: 4rem 1rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: hsl(232deg, 19%, 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 85vh;
}
.navbar_brand {
  width: 80px;
  margin-inline: auto;
}
.navbar_nav {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.navbar_item {
  text-align: center;
  padding-bottom: 1rem;
}
.navbar_link {
  color: #6f1ab6;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
}
.navbar_link:hover {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 3px solid #6f1ab6;
}

@media (min-width: 1025px) {
  .container_header {
    padding: 4rem 0;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 600px 400px;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 0;
    align-items: center;
    border-bottom: 2px solid #6f1ab6;
  }
}

.header-img {
  width: 400px;
}

.container_projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 4rem;
  margin-inline: auto;
  border-bottom: 2px solid #6f1ab6;
}

.projects_header {
  text-align: center;
  padding-bottom: 2rem;
  width: 60%;
  margin-inline: auto;
}

@media (min-width: 1025px) {
  .projects_grid {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1024) {
  .projects_grid {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
}

.projects_img {
  width: 240px;
}

.projects_cta {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.container_work {
  width: 1000px;
  margin-inline: auto;
  padding: 2rem 0 4rem;
  border-bottom: 2px solid #6f1ab6;
}

.work ul {
  padding-left: 2rem;
}

.container_education {
  width: 70%;
  margin-inline: auto;
  padding: 2rem 0 4rem;
  border-bottom: 2px solid #6f1ab6;
}

.education_1-grade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.education_2-grade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.education_3-grade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */